<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
  {{log isScrolled}}
{{#if isScrolled}}
  {{#scroll-to href='.menu'}}
    <button class="button scroll-to-top-button">UP</button>
  {{/scroll-to}}
{{/if}}
{{outlet}}

